[build]
  command = "npm ci --legacy-peer-deps"
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/graphql"
  to = "/.netlify/functions/graphql"
  status = 200